<div class="modal fade" id="finalconfirmModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content direction-rtl">
            <form id="finalConfirmForm">
                <input type="hidden" id="confirmRouteId" value="0" />
                <div class="modal-header">
                    <button type="button" class="close pull-left" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">تایید نهایی</h4>
                </div>
                <div class="alert-wrap"></div>
                <div class="modal-body">
                    <div class="form-group">
                        <div id="finalConfirmMessage"></div>
                    </div>
                    <div class="inline-labels">
                        <label>شرایط و قوانین را خوانده ام و با آن موافقم</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">نه</button>
                    <button type="submit" id="finalConfirmYes" class="btn btn-primary pull-right"></button>
                </div>
            </form>
        </div>
    </div>
</div>

