<div role="menu" class="dropdown-menu ext-dropdown-comments" style="margin-right: -210px">
    <div class="ext-dropdown-header">
        <i class="fa fa-comments"></i>
        <h5>پیام ها</h5>
        <a href="#" class="btn btn-default btn-sm delete-master"><i class="fa fa-trash-o"></i></a>
        <span class="indicator-dot">3</span>
    </div>
    <div class="ext-dropdown-comments-content">
        <div>
            <img src="images/users/user-1.jpg" alt="" class="avatar" />
            <a href="#">همه ساعت 4 آماده باشن</a>
            <ul>
                <li><span>کی:</span> <a href="#">رضا نوری</a></li>
                <li><span>کی:</span> 25 خرداد</li>
                <li>
                    <a href="#">میخونم</a> -
                    <a href="#" class="delete">پاک میکنم</a>
                </li>
            </ul>
        </div>
        <div>
            <img src="images/users/user-4.jpg" alt="" class="avatar" />
            <a href="#">نه آقا زوده</a>
            <ul>
                <li><span>کی:</span> <a href="#">محمد سالار</a></li>
                <li><span>کی:</span> 17 فروردین</li>
                <li>
                    <a href="#">میخونم</a> -
                    <a href="#" class="delete">پاک میکنم</a>
                </li>
            </ul>
        </div>
        <div>
            <img src="images/users/user-6.jpg" alt="" class="avatar" />
            <a href="#">ساعت 8 خوبه</a>
            <ul>
                <li><span>کی:</span> <a href="#">رضا نوری</a></li>
                <li><span>کی:</span> 17 بهمن</li>
                <li>
                    <a href="#">میخونم</a> -
                    <a href="#" class="delete">پاک میکنم</a>
                </li>
            </ul>
        </div>
        <span>پیغام جدیدی نیست</span>
    </div>
    <div class="ext-dropdown-footer">
        <p>آخرین به روزرسانی 12:30</p>
    </div>
</div>

