<div class="modal fade" id="modal-update" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content direction-rtl">
            <div class="modal-header">
                <button type="button" class="close pull-left" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">شرایط و قوانین</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-bottom:-20px">
                    <div class="col-xs-3">
                        <i class="fa fa-download" style="font-size:120px;color:#ccc"></i>
                    </div>
                    <div class="col-xs-9">
                        <p>
                            باید پسر خوبی باشی
                        </p>
                        <div class="spacer-20"></div>
                        <h4>Whats new in version 13.2.1</h4>
                        <div class="spacer-20"></div>
                        <ul>
                            <li>Suspendisse laoreet molestie justo at pulvinar.</li>
                            <li>Proin accumsan, tellus quis varius molestie, mi dolor facilisis risus.</li>
                            <li>In hac habitasse platea dictumst. Proin accumsan, tellus quis varius molestie dolum ipkut. Curabitur turpis sapien lorem.</li>
                            <li>Curabitur turpis sapien, lacinia in lacinia necr.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet molestie justo.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
